.competition__title {
  .title-text();
  color: @white;
  text-align: center;
  font-weight: lighter;
}

.competition__slogan-wrap {
  background-color: @white;
}

.competition__slogan {
  padding: 28px 0;
  padding-bottom: 0;
  .usually-text();
  line-height: 30px;
  color: @blue;
  text-align: center;
}

.competition__text {
  display: none;
}

@media (min-width: @tablet-width) {
  .competition__slogan {
    padding: 74px 40px;
    padding-bottom: 52px;
    font-size: 18px;
    line-height: 30px;
  }

  .competition__text {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .competition__slogan {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 72px;
    padding-bottom: 42px;
  }

  .competition__form {
    width: 960px;
    margin: 0 auto;
  }
}
