.competition {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

.competition__title {
  .title-text();
  color: @white;
  text-align: center;
  font-weight: lighter;
}

.competition__slogan-wrap {
  background-color: @white;
}

.competition__slogan {
  margin: 0 20px;
  padding: 46px 0;
  .usually-text();
  line-height: 30px;
  color: @blue;
  text-align: center;
}
