.contacts {
  background-color: @white;
}

.contacts__info {
  padding: 0;
  padding-top: 17px;
}

.contacts__slogan {
  .title-text();
  color: @blue;
  text-align: center;
  margin-bottom: 0;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 11px;
  margin-bottom: 35px;
}

.contacts__title {
  .bold-text();
  line-height: 22px;
  color: @blue;
  text-align: center;
  margin-top: 23px;
}

.contacts__link {
  .title-text();
  color: @pink;
  text-align: center;
  text-decoration: none;
  display: block;
  padding-top: 3px;
  padding-bottom: 2px;

  &--mail:hover {
    color: @blue;
    text-decoration: underline;
  }

  &--mail:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-bottom: 34px;
  }

  .contacts__info {
    padding-top: 45px;
  }

  .contacts__slogan {
    width: 75%;
    margin: 0 auto;
    font-size: 40px;
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .contacts__title {
    width: 45%;
    padding-top: 29px;
    padding-bottom: 17px;
    margin: 0 auto;
  }

  .contacts__link {
    padding-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin-bottom: 68px;
  }

  .contacts__info {
    padding-top: 63px;
  }

  .contacts__slogan {
    font-size: 50px;
  }

  .contacts__list {
    padding: 0;
    margin-top: 28px;
    margin-bottom: 5px;
    flex-wrap: nowrap;
  }

  .contacts__title {
    width: 30%;
  }

  .contacts__title:nth-child(2) {
    order: 2;
  }

  .contacts__link {
    padding-top: 25px;
  }
}
