.contacts {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

.contacts__info {
  position: relative;
  background-color: @white;

  &::after {
    content: "";
    position: absolute;
    bottom: -75px;
    left: 0;
    height: 75px;
    width: 100%;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contacts__slogan {
  .title-text();
  color: @blue;
  text-align: center;
}

.contacts__title {
  margin-top: 18px;
  .bold-text();
  line-height: 22px;
  color: @blue;
  text-align: center;
}

.contacts__link {
  .title-text();
  color: @pink;
  text-align: center;
  text-decoration: none;
  display: block;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__title {
    width: 50%;
    padding-top: 50px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    flex-wrap: nowrap;
  }

  .contacts__title {
    width: 30%;
  }

  .contacts__title:nth-child(2) {
    order: 2;
  }
}
