.download {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

.download__wrap {
  background-color: #1d2631;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 28px;
}

.download__slogan {
  .title-text();
  color: @white;
  text-align: center;
}

.download__list {
  display: flex;
  justify-content: center;
  align-items: center;
  .option-list();
}

.download__item {
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 23px;
}

.download__button {
  display: block;
  margin-bottom: 32px;
  padding: 15px 35px;
  .bold-text();
  line-height: 18px;
  color: @white;
  text-decoration: none;
  text-align: center;
  border: 3px solid @white;
  border-radius: 27px;
}

.download__availability {
  margin: 0;
  padding-bottom: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
  color: @white;
  text-align: center;
}
