.download {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
  background-color: #1d2631;

  &__slogan {
    .title-text();
    color: @white;
    text-align: center;
  }

  &__list {
    .option-list();
  }

  &__button {
    .bold-text();
    line-height: 18px;
    color: @white;
    text-decoration: none;
  }

  &__availability {
    margin: 0;
    padding-bottom: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 300;
    color: @white;
    text-align: center;
  }
}
