.features {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
  margin-bottom: 43px;
  background-color: @gray;
}

.features__slogan-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: @white;
}

.features__slogan {
  margin: 30px 0;
  .title-text();
  color: @blue;
  text-align: center;
}

.features__list {
  position: relative;
  .option-list();
  padding-top: 50px;
  padding-bottom: 277px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 94px;
    width: 100%;
    background-image: url("../img/bg-triangle-white.svg");
    background-position: right;
  }

  &::after {
    content: "";
    position: absolute;
    height: 277px;
    width: 100%;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }
}

.features__item {
  margin-top: 32px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.features__title {
  margin: 0;
  .bold-text();
  line-height: 24px;
  color: @black;
}

.features__description {
  margin-top: 10px;
  .usually-text();
  line-height: 24px;
  color: @blue;
}

@media (min-width: @tablet-width) {
  .features__list {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 268px;
      top: 0;
      background-image: url("../img/iphone-screen-tablet.png");
      background-repeat: no-repeat;
      background-position: top, center;
    }
  }

  .features__item {
    margin-left: auto;
    width: 50%;
    text-align: left;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

    &::after {
      display: none;
    }
  }

  .features__item {
    position: relative;
    margin-top: 302px;
    margin-right: auto;
    width: 30%;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      height: 302px;
      width: 100%;
      top: -302px;
      left: 0;
    }
  }

  .features__item:first-child::before {
    background-image: url("../img/iphone-screen1-desktop.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }

  .features__item:nth-child(2)::before {
    background-image: url("../img/iphone-screen2-desktop.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }

  .features__item:last-child::before {
    background-image: url("../img/iphone-screen3-desktop.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }
}
