.features {
  background-color: @white;
  background-image: linear-gradient(174deg, #ffffff 217px, #f2f2f2 217px);
}

.features__wrap {
  // box-shadow: 0 0 0 2px rgb(255, 45, 82);
  margin-bottom: 41px;
}

.features__slogan-wrap {
  padding-bottom: 10px;
  margin-top: 40px;
}

.features__slogan {
  margin: 30px 0;
  .title-text();
  color: @blue;
  text-align: center;
}

.features__list {
  position: relative;
  list-style: none;
  padding-top: 44px;
  padding-bottom: 305px;

  &::after {
    content: "";
    bottom: 0;
    position: absolute;
    padding: 0;
    height: 277px;
    width: 280px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }
}

.features__item {
  margin-top: 32px;
  text-align: center;
}

.features__title {
  margin: 0;
  .bold-text();
  line-height: 24px;
  color: @black;
}

.features__description {
  margin-top: 11px;
  .usually-text();
  line-height: 24px;
  color: @blue;
}

@media (min-width: @tablet-width) {
  .features {
    background-image: linear-gradient(176deg, #ffffff 240px, #f2f2f2 240px);
    margin-bottom: 45px;
  }

  .features__slogan-wrap {
    margin-top: 47px;
  }

  .features__slogan {
    font-size: 40px;
    margin: 0;
  }

  .features__slogan:last-child {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .features__list {
    padding-top: 36px;
    padding-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 268px;
      top: 0;
      background-image: url("../img/iphone-screen-tablet.png");
      background-repeat: no-repeat;
      background-position: top, center;
    }
  }

  .features__item {
    margin-left: auto;
    margin-top: 36px;
    width: 50%;
    text-align: left;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .features {
    background-image: linear-gradient(176deg, #ffffff 360px, #f2f2f2 360px);
    margin-bottom: 0;
  }

  .features__wrap {
    padding-bottom: 18px;
    margin-bottom: 0;
  }

  .features__slogan-wrap {
    margin-top: 67px;
    padding-bottom: 46px;
  }

  .features__slogan {
    font-size: 50px;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  .features__item {
    position: relative;
    margin-top: 312px;
    margin-right: auto;
    width: 30%;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      height: 302px;
      width: 100%;
      top: -358px;
      left: 0;
    }
  }

  .features__item:first-child::before {
    background-image: url("../img/iphone-screen1-desktop.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }

  .features__item:nth-child(2)::before {
    background-image: url("../img/iphone-screen2-desktop.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }

  .features__item:last-child::before {
    background-image: url("../img/iphone-screen3-desktop.png");
    background-repeat: no-repeat;
    background-position: top, center;
  }

  .features__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
    padding: 0 30px;
  }

  .features__description {
    font-size: 18px;
    line-height: 30px;
    padding: 0 20px;
  }
}
