.form {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);

  &__user-name {
    border: 0;
    margin-bottom: 44px;
    padding: 0 20px;
  }

  &__title {
    display: block;
    padding-top: 21px;
    padding-bottom: 9px;
    .usually-text();
    line-height: 30px;
    color: @pink;
    text-transform: uppercase;
  }

  &__field {
    box-sizing: border-box;
    width: 280px;
    padding: 20px 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    color: @blue;
    border: 2px solid @gray;
  }

  &__part {
    padding: 0;
    background-color: @gray;
    border: 0;
    padding-bottom: 44px;
  }

  &__user-contacts {
    border: 0;
    margin-bottom: 44px;
  }

  &__list {
    .option-list();
  }

  &__button {
    .bold-text();
    line-height: 30px;
    color: @white;
    text-transform: uppercase;
    background-color: @green;
  }

  &__note {
    .usually-text();
    line-height: 30px;
    color: @blue;
    text-transform: uppercase;
  }

  &__star {
    color: @pink;
  }
}
