.main-nav {
  box-shadow: 0 0 0 3px green;
  &__list {
    .option-list();
  }

  &__item {
    background-color: @blue;
  }

  &__link {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
  }
}
