.map {
  width: 320px;
  height: 200px;
  margin-left: -20px;
  background-image:
    url("../img/icon-map-marker.svg"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center, 0 bottom;
}
