.page-footer {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
  background-color: @white;
}

.page-footer__social-list {
  .option-list();
}

.page-footer__copyright-text {
  .usually-text();
  line-height: 18px;
  color: @blue;
}
