.photos {
  margin-bottom: 24px;
  // box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

.photos__title {
  .title-text();
  color: @white;
  text-align: center;
  font-weight: lighter;
}

.photos__slogan-wrap {
  background-color: @white;
}

.photos__slogan {
  padding: 29px 17px;
  .usually-text();
  line-height: 30px;
  color: @blue;
  text-align: center;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .photos {
    margin-bottom: 45px;
  }

  .photos__slogan {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 78px;
    width: 72%;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .photos {
    margin-bottom: 5px;
  }

  .photos__slogan {
    width: 62%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 92px;
    padding-bottom: 87px;
  }
}
