.photos {
  margin-bottom: 22px;
  // box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

.photos__title {
  .title-text();
  color: @white;
  text-align: center;
  font-weight: lighter;
}

.photos__slogan-wrap {
  background-color: @white;
}

.photos__slogan {
  padding: 31px 37px;
  .usually-text();
  line-height: 30px;
  color: @blue;
  text-align: center;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .photos {
    margin-bottom: 45px;
  }

  .photos__slogan {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 80px;
    width: 70%;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .photos {
    margin-bottom: 5px;
  }

  .photos__slogan {
    width: 60%;
    padding-top: 92px;
    padding-bottom: 90px;
  }
}
