.post-list {
  margin-bottom: 24px;
}

.post-list__slogan-wrap {
  background-color: @white;
}

.post-list__slogan {
  padding: 29px 17px;
  .usually-text();
  line-height: 30px;
  color: @blue;
  text-align: center;
  margin-bottom: 19px;
}

.post-list__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.post-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.post-list__wrap {
  display: flex;
  flex-direction: column;

  &--panorama {
    margin-bottom: 20px;
    position: relative;
  }
}

.post-list__title {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  .bold-text();
  font-size: 12px;
  line-height: 18px;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  background-color: @pink;
}

.post-list__photo {
  display: block;
  position: relative;
  width: 280px;
  height: 180px;
  overflow: hidden;

  &--panorama {
    width: 320px;
    height: 137px;
    margin: 0 auto;
  }
}

.post-list__panorama {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  margin: 0 auto;
}

.post-list__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: @gray;
  padding-bottom: 0;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: @blue;
  font-style: normal;

  &--panorama {
    width: 244px;
    margin: 0 auto;
  }
}

.post-list__author-wrap {
  margin: 0;
}

.post-list__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.post-list__text {
  margin: 0;
  width: 100%;
}

.post-list__like-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 20px;
}

.post-list__button {
  width: 13px;
  height: 12px;
  margin-right: 18px;
  background-color: transparent;
  border: 0;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.post-list__likes {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: @pink;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

@media (min-width: @tablet-width) {
  .post-list {
    margin-bottom: 47px;
  }

  .post-list__slogan {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 77px;
    width: 72%;
    font-size: 18px;
  }

  .post-list__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .post-list__item {
    width: 300px;
    background-color: @gray;
    margin-bottom: 18px;
  }

  .post-list__wrap {
    height: 100%;

    &--panorama {
      margin-bottom: 49px;
    }
  }

  .post-list__title {
    top: 56px;
    transform: translateX(170px);
  }

  .post-list__photo {
    width: 300px;
    height: 300px;

    &--panorama {
      width: 100%;
      max-width: 700px;
      height: 509px;
    }
  }

  .post-list__panorama {
    min-width: 700px;
  }

  .post-list__text-wrap {
    display: flex;
    min-height: 155px;
    box-sizing: border-box;
    flex-grow: 1;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 24px;
    padding-bottom: 23px;

    &--panorama {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;
      width: 620px;
      min-height: auto;
      margin: 0 auto;
      padding-bottom: 24px;
    }
  }

  .post-list__author-wrap {
    order: -2;
    width: 100%;

    &--panorama {
      width: auto;
    }
  }
  //
  // .post-list__text {
  //   min-height: 48px;
  // }

  .post-list__like-wrap {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    padding-bottom: 0;
    padding-top: 13px;

    &--panorama {
      order: -1;
      padding: 0;
      width: 21.5%;
    }
  }

  .post-list__like-wrap--panorama .post-list__button {
    margin-right: 1px;
  }

  .post-list__button {
    margin-right: 4px;
  }
}

@media (min-width: @desktop-width) {
  .post-list {
    margin-bottom: 2px;
  }

  .post-list__slogan {
    width: 62%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 90px;
    padding-bottom: 88px;
  }

  .post-list__list {
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .post-list__wrap {
    &--panorama {
      margin-bottom: 48px;
    }
  }

  .post-list__title {
    top: 54px;
    transform: translateX(330px);
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .post-list__item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 53px;

    &--panorama {
      margin-bottom: 50px;
    }
  }

  .post-list__photo {
    width: 300px;
    height: 400px;

    &--panorama {
      width: 100%;
      max-width: 1200px;
      height: 506px;
    }
  }

  .post-list__panorama {
    min-width: 1200px;
  }

  .post-list__text-wrap {
    &--panorama {
      width: 940px;
    }
  }

  .post-list__like-wrap {
    &--panorama {
      width: 14%;
    }
  }

  .post-list__like-wrap--panorama .post-list__button {
    margin-right: 3px;
  }
}
