.post-list {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);

  .option-list();
  margin-bottom: 40px;
}

.post-list__item {
  box-shadow: 0 0 0 3px green;

  margin-bottom: 20px;
}

.post-list__photo {
  display: block;
}

.post-list__blockquote-wrap {
  background-color: @gray;
  padding: 24px 0;
}

.post-list__blockquote {
  line-height: 24px;
  color: @blue;
}

.post-list__author {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.post-list__time {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
}

.post-list__text {
  .usually-text();
}

.post-list__button {
  width: 13px;
  height: 12px;
  border: 0;
  color: transparent;
  overflow: hidden;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.post-list__likes {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: @pink;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .post-list {
    display: flex;
    flex-wrap: wrap;
  }

  .post-list__item {
    margin-left: 20px;
    width: 300px;

    &--panorama {
      width: 100%;
      margin-left: 0;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .post-list {
    justify-content: space-around;
  }

  .post-list__item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 55px;

    &--panorama {
      margin-bottom: 50px;
    }
  }
}
