.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 23px;
    margin-bottom: 70px;
  }

  .research__wrap {
    position: relative;
    width: 50%;
    margin-left: auto;

    &::before {
      content: "24";
      display: block;
      position: absolute;
      width: 172px;
      height: 172px;
      top: 18px;
      left: -292px;
      .bold-text();
      font-size: 96px;
      line-height: 164px;
      color: @pink;
      text-align: center;
      border: 15px solid @pink;
      border-radius: 50%;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 238px;
      height: 276px;
      position: absolute;
      top: -39px;
      left: -310px;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 100%;
    }
  }

  .research__title {
    margin-bottom: 10px;
    padding-right: 130px;
    .bold-text();
    font-size: 30px;
    line-height: 36px;
    color: @black;
  }

  .research__text {
    margin: 0;
    .usually-text();
    line-height: 24px;
    padding-right: 10px;
    color: @blue;
  }

  .research__link {
    display: block;
    margin-top: -5px;
    .usually-text();
    line-height: 24px;
    color: @pink;
  }
}

@media (min-width: @desktop-width) {
  .research {
    padding-top: 68px;
    padding-bottom: 96px;
    margin-bottom: 73px;
    background-color: @gray;
  }

  .research__wrap {
    width: 61%;

    &::before {
      width: 219px;
      height: 219px;
      top: -23px;
      left: -342px;
      font-size: 120px;
      line-height: 200px;
      border: 17px solid @pink;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 300px;
      height: 345px;
      position: absolute;
      top: -92px;
      left: -365px;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 100%;
    }
  }

  .research__title {
    margin-bottom: 20px;
  }

  .research__text {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
