.upload {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);

  margin-bottom: 40px;
}

.upload__slogan {
  background-color: @white;
  margin-bottom: 44px;
}

.upload__text {
  margin: 0;
  .usually-text();
  line-height: 30px;
  color: @blue;
  text-align: center;
}

.upload__form {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: @gray;
}

.upload__photo {
  display: block;
  margin: 0 auto;
}

.upload__instruments {
  .option-list();
}

.upload__post {
  .bold-text();
  line-height: 18px;
  color: @pink;
}

.upload__cancel {
  .bold-text();
  line-height: 18px;
  color: rgba(40, 54, 69, 0.1);
}
